<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Question 3 Solution</title>
  </head>
  <body>
    <nav>
      <a href="/">Question 1</a>
      <a href="/list">Question 2</a>
      <a href="/input">Question 3</a>
    </nav>
    <h1>Question 3 Solution:</h1>

    <% if (isSubmitted) { %>
      <p>Hi, a new polling unit has been created and the results of all the parties has been stored in the new polling unit.</p>
      <p>Thanks!</p>
      <% } else { %>
  
      <div>
        <p>Fill the form below and click "Save" button to store the results for All parties.</p>
    <form>
      <p>Input parties score below (all fields are required):</p>
      <div>
        <label for="fullname">Your Full name:</label>
        <input
          type="text"
          name="fullname"
          id="fullname"
          required
          placeholder="Enter your full name"
        />
      </div>

      <div>
        <div>
          <% parties.forEach(party => { %>
           <div style="margin-top: 8px">
            <label for="<%= party.partyname %>">Party <%= party.partyname %> </label>
            <input type="text" name="<%= party.partyname %>" id="<%= party.partyname %>" required placeholder="Enter score" />
           </div>
            <% }); %>
          </select> 
         
        </div>
      </div>

      <button type="submit">Save</button>
    </form>
      </div>
  
      <% } %>

    
  </body>
</html>
